/* For Testing */
/*body {
    background-color: blue;
}*/

#number-one{
    color: navy;
}

#number-two{
    font-size: 16px;
}

.first-class{
    font-style: italic
}

.second-class{
    font-size: 24px;
}

.third-class{
    background-color: aquamarine
}